h1, h5 {
    color: #FF2D20 !important;
}

button {
    background-color: #FF2D20 !important;
    color: #111111 !important;
}

button:hover {
    background-color: #111111 !important;
    color: white !important;
}

.expand-on-hover { transition: 0.3s !important; }
.expand-on-hover:hover { transform: scale(1.1) !important; }