h1 {
    color: #FF2D20 !important;
}

button {
    background-color: #FF2D20 !important;
    color: #111111 !important;
}

button:hover {
    background-color: #111111 !important;
    color: white !important;
}

.search-bar input {
    background-color: transparent !important;
    border: 1px solid #FF2D20 !important;
}

.search-bar button {
    border: 1px solid #FF2D20 !important;
}

.bi-arrow-down-square-fill:hover {
    fill: #111111 !important;
}

.accordion-header button {
    color: white !important;
}

.accordion-body {
    background-color: #111111 !important;
}

.accordion-body p, .accordion-body button {
    color: white !important;
}

.expand-on-hover { transition: 0.3s !important; }
.expand-on-hover:hover { transform: scale(1.1) !important; }